<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{@ERROR.code}} ~ {{@ERROR.status}}</title>
    <style>
      body { 
        font-family: sans-serif; 
        font-size: 1rem;
        margin: 0;
        padding: 3rem;
        line-height: normal;
      }
      section { color: green; }
      h1 { line-height: .5rem; }
      h1,code { color: red; }
      h3 { color: orange; }
      pre {
        font-family: monospace;
        margin-top: -1.5rem;
        line-height: .5rem;
      }
    </style>
  </head>
  <body>
    <main>
        <h1>Error {{@ERROR.code}} : {{@ERROR.status}}</h1>
        <h3># {{@ERROR.text}}</h3> 
        <pre>
        <code>
    <loop from="{{ @i=0 }}" to="{{ @i < @error_count }}" step="{{ @i++ }}">
    {{((@error_count-1) == @i ?  '└──' : '├──').@error_trace[@i]}}<br/>
    </loop>
        </code>
        </pre>
        <section>
        <p>You are trying to access <b>{{@PATH}}</b> that is not associate with our web, follow the instructions below;</p>
        <ul>
            <repeat group="{{ @recommended }}" key="{{ @ikey }}" value="{{ @ival }}">
            <li>{{ @ival }}</li>
            </repeat>
        </ul>
        </section>
    </main>
  </body>
</html>