<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About - {{@APP.name}}</title>
        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="assets/img/icon-192.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/app.css?v={{time()}}">
    </head>
    <body>
        <header>
            <div class="container">
                <b>This is Header</b>
            </div>
        </header>
        <main>
            <div class="container">
                <noscript><b>You need to enable JavaScript to run this app.</b></noscript>
                <h3>Welcome! This is About page</h3>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero nulla nam ipsa, eligendi quibusdam delectus ab natus nisi culpa qui debitis odit amet voluptas! Placeat perferendis quod consectetur esse.</p>  
                <p><a href="./">Home</a> | <a href="./about">About</a></p>        
            </div>
        </main>
        <footer>
            <div class="container">
                <b>This is Footer</b>
            </div>
        </footer>
        <script src="assets/js/app.js?v={{time()}}"></script>
    </body>
</html>